{{#block "content"}}
    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{entry.title}}</h1>
                    <time datetime="{{entry.date}}">{{entry.date}}</time>
                    <div class="entry">
                        <p>{{entry.content}}</p>
                        <p><a class="link" href="/entries/{{entry.slug}}/edit">Edit Entry</a></p>
                    </div>
                </article>
                <h3>Tags</h3>
                <ul>
                    {{#each entry.tags}}
                        <li class="tags">{{this}}</li>
                    {{/each}}
                </ul>
                <form method="post" action="/entries/{{entry.slug}}/delete" onsubmit="return confirm('Are you sure you want to delete this entry?');">
                    <input type="submit" value="Delete Entry" class="button button-danger">
                </form>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            {{#if comments}}
                {{#each comments}}
                    <div class="comment">
                        <strong>{{author}}</strong>
                        <time datetime="{{date}}">{{date}}</time>
                        <p>{{content}}</p>
                    </div>
                {{/each}}
            {{else}}
                <p>No comments yet. Be the first to comment!</p>
            {{/if}}
            <div class="new-comment">
                <form method="post" action="/entries/{{entry.slug}}/comments">
                    <label for="name">Name</label>
                    <input type="text" name="author" id="name"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="content" id="comment" required></textarea>
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>
{{/block}}

{{> base.hbs}}