{{#partial "content"}}
    <section>
        <div class="container">
            <div class="entry-list">
                {{#each entries}}
                    <article>
                        <h2><a href="/entries/{{slug}}">{{title}}</a></h2>
                        <time datetime="{{date}}">{{formattedDate}}</time>
                    </article>
                {{/each}}
                <ul class="tags">
                    {{#each entry.tags}}
                        <li class="tags">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <a href="/new" class="button">Add New Entry</a>
            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}